@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
    font-family: 'Permanent Marker', sans-serif;
    background-image: url('sticker-collage.png');
    background-size: contain;
}

* {
    transition-duration: 0.5s;
}

.tight-container {
    width: 70% !important;
}

section {
    padding: 50px;
}

.big-title {
    font-size: 3em;
    text-align: center;
    font-family: 'Permanent Marker';
}

#first .buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#first .button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1785945c;
    border-radius: 20px;
    /* padding: 5px 10px; */
    min-width: 100px;
    /* margin-bottom: 10px; */
    /* margin-left: 10px; */
}

#first .button .text {
    text-transform: uppercase;
    /* text-align: center; */
}

#first .button .logo img {
    height: 30px;
    opacity: 0.45;
}

#first .button div {
    padding: 0 10px;
}

@keyframes shake{
    from{
        transform: translateY(-10px);

    }

    to{
        transform: translateY(0px);
    }
}

#first .hero-image img {
    width: 100%;
    object-fit: cover;
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.medium-text {
    font-size: 2em;
    text-align: center;
}

#second .image {
    overflow: visible;
    /* display: flex; */
    /* justify-content: center; */
}

#second .image img {
    height: 70vh;
    object-fit: contain;
    margin: 50px 0;
}

@keyframes vibrateDick{
    0% {
        background-position-x: -20px;

    }
    50% {
        background-position-x: 20px;

    }
    100% {
        background-position-x: -20px;
    }
}

#second .dick-quote {
    font-size: 0.8em;
    text-align: center;
    padding: 10%;
    width: 80%;
    height: 100vh;
    background-image: url('dick.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    /* background-position-x: center; */
    background-clip: padding-box;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 80%; */
    animation-name: vibrateDick;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    overflow: visible;
}

#third .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    margin: 40px;
}

#third .image-container .title {
    text-align: center;
    font-size: 2em;
}

#third .image-container .image {
    display: flex;
    justify-content: center;
}


#third .image-container .image img {
    border: 20px solid #FEE277;
    height: 50vh;
}

#third .image-cards {
    display: flex;
    justify-content: space-around;
    align-items: start;
}

#third .row {
    vertical-align: top;
}

#fourth .images {
    display: flex;
    vertical-align: center;
    justify-content: center;
}

#fourth .images img {
    padding: 20px;
    height: 70vh;
    object-fit: contain;
}

#fifth {
    font-family: 'Shadows Into Light';
}

#fifth .stickies div {
    min-height: 300px;
    max-width: 300px;
    display: flex;
    align-items: center;
    background-size: contain;
    background-position-y: 40%;
    background-position-x: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 1em;
    padding: 50px;
}

#sixth {
    background-image: url('Frame\ 18.png');
    background-size: cover;
    /* min-height: 100vh; */
    color: white;
    font-family: 'Shadows Into Light';
}

#sixth .text {
    font-size: 1em;
    margin: 30px 0px;
    /* padding: 10%; */
    text-align: center;
}

@media only screen and (max-width:800px) {
    .tight-container {
        width: 80% !important;
    }

    #second .dick-quote {
        background-image: none;
    }
}

@media only screen and (max-width:500px) {
    .big-title {
        /* font-size: 5em; */
    }

    #first .buttons-container {
        flex-direction: column;
    }

    #first .buttons-container .button {
        margin: 10px;
    }

    #third .image-cards {
        flex-direction: column;
    }

    #fourth .images {
        flex-direction: column;
    }

    .tight-container {
        width: 100% !important;
    }

    section {
        padding: 50px 0;
    }

    .hero-image {
        /* width: 150% !important; */
        /* display: flex; */
        /* justify-content: center; */
    }

    .medium-text {
        font-size: 1.5em !important;
    }

    #second .dick-quote {
        min-height: 400px;
        padding: 20% 10%;
        height: 30vh;
    }

    #sixth .text {
        font-size: 1.5em;
        padding: 10% 5%;
    }
}

.hover-lift-anim:hover {
    transition-duration: 0.5s;
    transform: translateY(-10px);
}

.scale-up-animation:hover {
    transform: scale(1.05);
}

.pretty-link {
    text-decoration: none;
    color: black;
}